.section {
    &__title{
        text-transform: uppercase;
        font-size:4.1rem;
        color: $color-primary;
        font-weight: 500;
        line-height: 4.5rem;

        @include respond(mobile-screen) {
            font-size: 2.2rem;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        font-size: 2.4rem;
        color: $color-secondary;
        font-weight: 500;
        line-height: 3.3rem;
        padding-bottom: 1.7rem;

        @include respond(mobile-screen) {
            font-size: 1.3rem;
            padding-bottom: 0;
        }
    }
    &__text {
        font-size: 1.6rem;
        line-height: 2.1rem;
        letter-spacing: 0.04em;
        font-weight: 400;
        color: $color-light-text;
        padding: 4rem 0;

        @include respond(mobile-screen) {
            font-size: 1rem;
        }
    }

}

.card {
    &__title {
        font-size: 2.4rem;
        line-height: 116%;
        font-weight: 500;
        font-style: normal;
        color: $color-dark-text;
        font-variant: small-caps;
        padding: 1.6rem 0;

        @include respond(mobile-screen) {
            font-size: 1.4rem;
        }
    }

    &__body {
        font-size: 1.3rem;
        line-height: 132%;
        font-weight: 400;
        letter-spacing: 0.04em;

        @include respond(mobile-screen) {
            font-size: 1rem;
        }
    }
}