$color-primary: #647B64;
$color-secondary: #f3b562;
$color-light-text: #4F4F4F;
$color-dark-text: #333333;

$color-white: #fff;
$color-gradient-primary:  linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);